﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:705px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1225px;
}
#u81 {
  position:absolute;
  left:64px;
  top:100px;
  width:641px;
  height:1225px;
}
#u82 {
  position:absolute;
  left:2px;
  top:604px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
